:root{
  --dark-blue : hsl(240, 38%, 20%);
  --grayish-blue : hsl(240, 18%, 77%);

}
 

::after, 
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 65%;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;

}
.testimonial{
  max-width: 105rem;
  margin: 10rem auto;
  padding: 18rem 7rem;
  box-shadow: 0 2px .5rem var(--grayish-blue);
  border-radius: .2rem;
  position: relative;
  display: flex;
}