:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

*,
*,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  
}
.container{
  min-height: 100vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
}
.slide-tracker{
  display: block;
  height: 100%;
  max-width: 825px;
  margin: 0 auto;
  position: relative;
}
.slide{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.slide-testimonial{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonial-text{
  font-weight: 300;
  font-size: .7rem;
  line-height: 1rem;
  color: var(--dark-blue);
}

.slide-picture{
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 40px;
  position: relative;
}
.slide-picture img{
  height: 100%;
  width: 300px;

  background-position: center;
  
}
.picture{
  z-index: 2;
  
}
.pattern-bg{
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -4.8rem;
}
.pattern-curve{
  z-index: 8000;
}
.quote{
  width: 80px;
  position: absolute;
  padding-bottom: 9rem;
}
.testimonial-author{
  margin-top: 20px;
  color: var(--dark-blue);
  font-size: .5rem;
  font-weight: 700;
}
.testimonial-author span{
  color: var(--grayish-blue);
  font-weight: 300;
  display: block;
}



footer{
  font-size: .45rem;
  justify-items: center;
  text-align: center;



}
.pattern-curve{
  width: 300px;
  

  
}
.buttons{
  text-align: center;
  z-index: 3;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  top: 315px;
  display: flex;
  width: 90px;
  height: 45px;
  box-shadow: -20px 12px 20px 0px hsl(240, 18%, 77%);
  border-radius: 50px;
  background-color: white;
  overflow: hidden;
  align-items: center;
  text-justify: distribute;
}
.prev{
  position: absolute;
  left: 0.5rem;
  top: 0.05rem;
  
}
.next{
  position: absolute;
  right: 0.5rem;
  top: 0.05rem;
  
}
@media only screen and (min-width:760px){
  .container{
   margin-left: 100px;
  }
  
  .slide{
    flex-direction: row;
    position: relative;
   
  }
  .slide-picture{
    position: relative;
    right: 0.5rem;
    margin-left: 450px;
  }
  .slide-picture img{
    width: 320px;
  }
  .slide-testimonial{
    left: 0.6rem;
    width: 55%;
    height: auto;
    justify-content: left;
    text-align: left;
    position: absolute;
    z-index: 5;
    margin-left: 50px;
    margin-top: 90px;
  }
  .pattern-bg{
    width: 50%;
    margin-left: 200px;
    margin-top: 0rem;
  }
  .testimonial-author{
   
    display: flex;
    position: absolute;
    margin-top: 5.5rem;
    left: 0rem;
  }
  .testimonial-author span{
    margin-left: .25rem;
  }
  .buttons{
    left: 65%;
    top: 330px;
  }
  .quote{
    margin-top: -1.5rem;
    margin-left: -3.8rem;
  }

}
.slide2{
  display: none;
}