.photo{

  width: 150px%;
  height: auto;
}
.testimonial{
  
}

.author{}
.container{

  font-size: 25px;
 
  width: 5%;
  background: White;
  /*cdoe*/
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-gap: 10px 20px ;
  
}
@media only screen and (min-width: 768px){
  .photo{
    width: 100%;
    height: auto;
  }
  .testimonial{}
  .author{}
  .container{
      margin:15% 0%;
      font-size: 35px;
      min-height:300px;
      with: 100%;
      backgorund: black;
      display; grid;
      grid-template-columns: 1fr 1fr;
      grid-template-row:1fr 1fr 
  }

}
